#topBox{
    color: rebeccapurple;
}
.rowBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.columnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .columnBox li {
        margin-bottom: 16px;
    }
#seemore {
    height: 24px;
    margin-left: 12px;
    cursor: pointer;
    transition: transform .2s;
}
    #seemore:hover {
        transform: scale(1.2);
    }