@page "/"
@inject NavigationManager UriHelper

<div id="container">
    <h1 id="topBox"> Upcoming Parties</h1>
    <ul class="rowBox">
        <div class="columnBox">
            <li>aaa
            <img @onclick=@Navigate id ="seemore" src="images/seemore.svg" />
            </li>
            <li>aaa
            <img @onclick=@Navigate id="seemore" src="images/seemore.svg" />
            </li>  
            <li>aaa
            <img @onclick=@Navigate id="seemore" src="images/seemore.svg" />
            </li>  

        <!-- foreach(var X in Y)
        {
            <li>
                @X.name
            <img @onclick=@Navigate id="seemore" src="images/seemore.svg" />
            </li>
        } -->

        </div>
    </ul>
    <button>Add New Party</button>
</div>

@code {
    void Navigate()
    {
        UriHelper.NavigateTo("SeeMore");
    }
}

