@page "/"
@inject NavigationManager UriHelper

<div id="container1">
    <div id="container2">
        <h1 id="topBox"> Upcoming Parties</h1>
        <ul class="rowBox" id="stripes">
            <div class="columnBox">
                <li >
                    aaa
                    <img @onclick=@Navigate id="seemore" src="images/seemore.svg" />
                </li>
                <li>
                    aaa
                    <img @onclick=@Navigate id="seemore" src="images/seemore.svg" />
                </li>
                <li>
                    aaa
                    <img @onclick=@Navigate id="seemore" src="images/seemore.svg" />
                </li>
                <li>
                    aaa
                    <img @onclick=@Navigate id="seemore" src="images/seemore.svg" />
                </li>
                <li>
                    aaa
                    <img @onclick=@Navigate id="seemore" src="images/seemore.svg" />
                </li>
                <li>
                    aaa
                    <img @onclick=@Navigate id="seemore" src="images/seemore.svg" />
                </li>
                <li>
                    aaa
                    <img @onclick=@Navigate id="seemore" src="images/seemore.svg" />
                </li>
                <li>
                    aaa
                    <img @onclick=@Navigate id="seemore" src="images/seemore.svg" />
                </li>
                <li>
                    aaa
                    <img @onclick=@Navigate id="seemore" src="images/seemore.svg" />
                </li>
                <li>
                    aaa
                    <img @onclick=@Navigate id="seemore" src="images/seemore.svg" />
                </li>
                <li>
                    aaa
                    <img @onclick=@Navigate id="seemore" src="images/seemore.svg" />
                </li>
                <li>
                    aaa
                    <img @onclick=@Navigate id="seemore" src="images/seemore.svg" />
                </li>
            </div>
        </ul>
    </div>
    <div id="container3">
        <button>Add New Party</button>
    </div>
</div>

@code {
    void Navigate()
    {
        UriHelper.NavigateTo("SeeMore");
    }
}

