#topBox{
    color: rebeccapurple;
}
.rowBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.columnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}