@page "/"
@inject NavigationManager UriHelper

<div id="container">
    <h1 id="topBox"> Upcoming Parties</h1>
    <button>Add New Party</button>
    <ul id="partiesList">
        <li>aaa</li>
        <li>aaa</li>
        <li>aaa</li>
        <li>aaa</li>
        <li>aaa</li>
        <!-- foreach(var X in Y)
        {
            <li>
                @X
            <button @onclick=@Navigate>See More</button>
            </li>
        } -->
    </ul>
    <button @onclick=@Navigate></button>
</div>

@code {
    void Navigate()
    {
        UriHelper.NavigateTo("SeeMore");
    }
}

