@page "/"
@inject NavigationManager UriHelper

<div id="container">
    <h1 id="topBox"> Upcoming Parties</h1>
    <button>Add New Party</button>
    <ul class="rowBox">
        <div class="columnBox">
            <li>aaa
            <button @onclick=@Navigate>Test-li-See More</button>
            </li>
            <li>aaa
            <button @onclick=@Navigate>Test-li-See More</button>
            </li>  
            <li>aaa
            <button @onclick=@Navigate>Test-li-See More</button>
            </li>  

        <!-- foreach(var X in Y)
        {
            <li>
                @X.name
            <button @onclick=@Navigate>See More</button>
            </li>
        } -->

        </div>
    </ul>
</div>

@code {
    void Navigate()
    {
        UriHelper.NavigateTo("SeeMore");
    }
}

