@page "/SeeMore"
@inject NavigationManager UriHelper

<div id="container">
    <div class="rowBox">
        <img @onclick=@Navigate id ="goback" src="images/back.svg" />
        <div class="columnBox">
            <h1 id="topBox">Y.name</h1>
            <span>creationDate</span>
        </div>
    </div>
    <div>
        <div class="rowBox">
            <img class="size" src="images/info.svg" />
            <h3>Info</h3>
        </div>
        <div class="columnBox" id="alignleft">
            <p>Localization: localization</p>
            <p>Party Date: partyDate</p>
            <p>Description: description</p>
        </div>
    </div>
    <div>
        <div class="rowBox">
            <img class="size" src="images/sign.svg" />
            <h3>Guests</h3>
        </div>
        <ul class="columnBox" id="alignleft">
            <li>guestList
                <img id="remove" src="images/remove.svg" />
            </li>
            <li>guestList
                <img id="remove" src="images/remove.svg" />
            </li>
            <li>guestList
                <img id="remove" src="images/remove.svg" />
            </li>
        </ul>
    </div>
    <EditForm Model="guest" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <p>
            <label class="flex">
                Name:
                <InputText @bind-Value="guest.name" />
            </label>
        </p>
        <p>
            <label class="flex">
                Last Name:
                <InputText @bind-Value="guest.lastName" />
            </label>
        </p>
        <p>
            <label class="flex">
                Age:
                <InputNumber @bind-Value="guest.age" />
            </label>
        </p>

        <button type="submit">Add Guest</button>
    </EditForm> 
</div>


@code {
        void Navigate()
        {
            UriHelper.NavigateTo("/");
        }

        public class Guest{
            public string name { get; set; }
            public string lastName { get; set; }
            public int age { get; set; }
        }

        List<Guest> guests = new List<Guest>();

        Guest guest = new Guest();
   
        private void HandleSubmit()
        {
            guests.Add(guest);
        }
}