@page "/SeeMore"
@using GuestList.Models
@using System.Text.Json
@using System.Net.Http.Json
@inject NavigationManager UriHelper
@inject HttpClient httpClient


<div class="rowBox" id="container">
    <div id="container1">
        <div class="rowBox" id="headerBox">
            <img @onclick=@Navigate id="goback" src="images/back.svg" />
            <div class="columnBox">
                <h2 id="topBox">Y.name</h2>
                <p class="white">creationDate</p>
            </div>
        </div>
        <div>
            <div class="rowBox">
                <img class="size" src="images/info.svg" />
                <h3>Info</h3>
            </div>
            <div class="columnBox" id="alignLeft">
                <div class="columnBox" id="alignLeft">
                    <p>Localization:</p> 
                    <p class="white">localization</p>
                </div>
                <div class="columnBox" id="alignLeft">
                    <p>Party Date:</p> 
                    <p class="white">partyDate</p>
                </div>
                <div class="columnBox" id="alignLeft">
                    <p>Description:</p>
                    <p class="white" id="overFlow">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="container2">
        <div id="container3">
            <div class="rowBox" id="rowBoxList">
                <img class="size" src="images/sign.svg" />
                <h3>Guests</h3>
            </div>
            <ul class="rowBox2" id="stripes">
                <div class="columnBoxList">
                    @foreach (var item in guests) {
                    <li>
                        @item.name 
                        @item.lastName
                    </li>
                    }
                </div>
            </ul>
        </div>
        <EditForm id="container4" Model="guest" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <label class="rowBox3">
                <p>Name:</p>
            <InputText style="width: 50%; color: black; border: 0px; background-color: #F2E4D3;" @bind-Value="guest.name" />
            </label>

            <label class="rowBox3">
                <p>Last Name:</p>
            <InputText style="width: 50%; color: black; border: 0px; background-color: #F2E4D3;" @bind-Value="guest.lastName" />
            </label>
            <div class="rowBox2">
            <button class="button" type="submit">Sign Up</button>
            </div>
        </EditForm>
    </div>
</div>


@code {
    Guest guest = new Guest();
    List<Guest> guests = new List<Guest>();

    void Navigate()
    {
        UriHelper.NavigateTo("/");
    }
    protected override async Task OnInitializedAsync()
    {
        GetAllGuests();
    }


    private void HandleSubmit()
    {
        guest = new Guest(guest.name, guest.lastName);
        var resultsofyourtask = Task.Run(() => httpClient.PostAsJsonAsync("https://localhost:44386/api/Guest/AddNewGuest",guest));

        resultsofyourtask.Wait();
        var response = resultsofyourtask.Result;
        if (response.IsSuccessStatusCode)
        {
            guests.Add(guest);
        }
    }
    private void GetAllGuests()
    {
        var allGuests = Task.Run(() => httpClient.GetAsync("https://localhost:44386/api/Guest/GetAllGuests"));
        allGuests.Wait();
        var allGuestsResponse = allGuests.Result.Content.ReadAsStringAsync().Result;
        guests = JsonSerializer.Deserialize<List<Guest>>(allGuestsResponse);
    }
}