.rowBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: calc(32px-17.6px);
    margin-bottom: 16px;
}
h1, h3{
    color: rebeccapurple;
    margin: 0;
    width: auto;
}
img {
    margin-right: 16px;
}
#goback {
    height: 24px;
    cursor: pointer;
    margin-right: 32px;
    transition: transform .2s;
}
    #goback:hover {
        transform: scale(1.3);
    }
#remove {
    height: 24px;
    margin-left: 12px;
    cursor: pointer;
    transition: transform .2s;
}
    #remove:hover {
        transform: scale(1.2);
    }
.size {
    height: 16px;
}
.columnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .columnBox li {
        margin-bottom: 16px;
    }
#alignleft {
    align-items: flex-start;
}
.flex {
    display: flex;
    justify-content: space-between;
    width: 20vw;
}
